<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/client-js/script.js"></script>
</head>
<body>
    {{>header}}
    <main>
        <p>Use this site to get the weather!</p>
        <form action="">
            <input placeholder="Location" type="text">
            <button type="submit">Search</button>
        </form>
        <p class="success"></p>
        <p class="error"></p>
    </main>
     {{>footer}}
</body>
</html>